@page "/"
@using BookOrGetBooked.App.Shared.Interfaces
@inject IAuthService AuthService
@inject NavigationManager Navigation

<p>Loading...</p>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var isAuth = await AuthService.TryRestoreSessionAsync();
            if (isAuth)
                Navigation.NavigateTo("/home", forceLoad: true);
            else
                Navigation.NavigateTo("/login", forceLoad: true);
        }
    }
}